* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #ededed;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(240, 34, 34);
    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    background: rgb(240, 34, 34);
    margin-bottom: 25px;
    list-style-type: none;
}

nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    font-weight: 900;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav ul li a:hover {
    color: white;
    background: rgb(4, 4, 63);
    border-bottom: 5px white;
    border-top:  2px white;
}

p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.container {
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
    
}

h1{
    margin-left: 0px;
}


.img2 {
    float: right;
    margin-right: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: rgb(240, 34, 34);
    position: absolute;
}
nav > ul li:hover .sous{
    display: block;
}


.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: rgb(4, 4, 63);
}


main{
    background-color: white;                            
}

h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px ;
}
